header {
    background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1));
    display: inline-flex;
    padding: 50px 70px 0 70px;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1;
}

header:before {
    background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(230,230,230,1));
    top: 0;
    content: '';
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    bottom: -100px;
    z-index: -1;
}

header h1 {
    background-color: transparent;
    color: #000;
    flex: 1;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    font-weight: 200;
    line-height: 1.6em;
    text-align: left;
}

header nav {
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    
    opacity: .9;
    padding: 0;
    display: inline-flex;
}

header nav a, p {      
    margin: 0 0 0 10px;
    transition: opacity .6s ease;
    line-height: 1.6em;
    color: #000;
}

header nav a {
    text-decoration: none;
}

header nav a .lang_active {
    font-weight: bolder;
}

@media (max-width: 425px) {
    header {
        padding: 20px 20px 0 20px;
    }

    header nav a {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}