.modal-overlay {
    background: black;
    bottom: 0;
    color: white;
    cursor: default;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 2;
    filter: blur(0);
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .95);
    transition: visibility 0s linear .2s;
    animation: blurOut .2s ease-in;
}

.modal-overlay.visible {
    visibility: visible;
    animation: blurIn .4s ease-out;
    transition: visibility 0s;
}

@keyframes blurIn {
    from {
        filter: blur(20px);
        opacity: 0;
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes blurOut {
    from {
        filter: blur(0);
        opacity: 1;
    }
    to {
        filter: blur(20px);
        opacity: 0;
    }
}

.modal-overlay .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    transform: translate3d(-50%, -50%, 0);
    /*display: inline-flex;*/
    height: 75%;
    /*background: black;*/
}

.modal-overlay .modal-dialog figure {
    align-items: center;
    height: 100%;
    margin: auto;
    width: 100%;
}

.modal-overlay .modal-dialog figure,
.modal-overlay .modal-dialog figcaption {
    /*width: 75%;*/
    display: flex;
    justify-content: center;

}

/*.modal-overlay .modal-dialog figure {
    flex-direction: row;
    flex-wrap: wrap;
}

.modal-overlay .modal-dialog figure img{
    margin: 10px;
}*/


.modal-overlay .modal-dialog figcaption {
    width: 100%;
    /*flex-direction: column;*/
    position: relative;
    margin-bottom: 100px;
    
}

.modal-overlay .modal-dialog figcaption p {
    width: 70%;
    
}

.modal-overlay .modal-dialog figcaption .basicinfo {
    width: 40%;
    margin-right: 50px;
    
}

.modal-overlay .modal-dialog button {
    position: absolute;
    top: -82px;
    left: 15px;
    width: 75px;
    font-size: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    transform: translateX(-50%);
    padding: 5px 20px;
    background: none;
}

.modal-overlay .modal-dialog figcaption button img {
    width: 100%;
}

@media (max-width: 1440px) {
    .modal-overlay .modal-dialog {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 700px;
        width: 100%;
    }

    .modal-overlay .modal-dialog figure,
    .modal-overlay .modal-dialog figcaption {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .modal-overlay .modal-dialog {
        height: 100%;
        width: 100%;
    }

    .modal-overlay .modal-dialog figure,
    .modal-overlay .modal-dialog figcaption {
        width: 100%;
    }

    .modal-overlay .modal-dialog figcaption {
        flex-direction: column;
    }

    .modal-overlay .modal-dialog figcaption p,
    .modal-overlay .modal-dialog figcaption p.basicinfo {
        margin: 0 10px 10px 10px;
    }
}

@media (max-width: 425px) {}