.modal-overlay .modal-dialog figure h1 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    color: white;
    font-size: 70px;
    font-weight: bold;
}

.modal-overlay .modal-dialog figcaption p {
    padding: 20px;
    line-height: 22px;
    text-align: left;
}

.modal-overlay .modal-dialog figure iframe {
    height: 100%;
    width: 100%;
}
