.modal-overlay .modal-dialog figure h1 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    color: white;
    font-size: 70px;
    font-weight: bold;
}

.modal-overlay .modal-dialog figcaption {
    /*margin: 30px;*/
    margin-top: 150px;
}
.modal-overlay .modal-dialog figcaption p {
    /*padding: 20px;*/
    line-height: 25px;
    text-align: left;
    font-size: 14px;
}

.modal-overlay .modal-dialog figure iframe {
    height: 100%;
    width: 100%;
}

.modal-overlay .modal-dialog figure img {
    width: 300px;

}