

.modal-overlay .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate3d(-50%, -50%, 0);
    /*display: inline-flex;*/
    height: 75%;
    /*background: black;*/
    z-index: 2;
}

.modal-overlay .modal-dialog figure {
    align-items: center;
    height: 100%;
    margin: auto;
    width: 100%;
    display: flex;
}

.modal-overlay .modal-dialog figure img{
    align-items: center;
 
    margin: auto;
    width: 85%;
    display: flex;
}
.modal-overlay .modal-dialog figure h2 {
    font-family: helvetica;
    font-size: 80px;
    color: black;
    position: absolute;
    align-self: center;

}

.modal-overlay .modal-dialog figure div {
    width: 900px;
    height: 400px;
    border: solid lightgreen 3px;
    border-radius: 450px / 200px;
    align-self: center;
    /*transform: rotate(-10deg);*/
}

.modal-overlay .modal-dialog figure,
.modal-overlay .modal-dialog figcaption {
    /*width: 75%;*/
    justify-content: center;
 /*   font-family: "Helvetica", sans-serif;*/
   

}

.modal-overlay .modal-dialog figcaption {
    width: 100%;
    position: relative;
    margin-bottom: 100px;
}

.modal-overlay .modal-dialog figcaption p {
    width: 90%;
    margin: auto;
    font-size: 24px;
    line-height: 1.8em;
    font-family: "Helvetica";
    font-weight: lighter;
    padding: 20px;
}

.modal-overlay .modal-dialog figcaption p span {
    font-style: italic;
}

.modal-overlay .modal-dialog figcaption h3 {
    font-family: "bilboINC";
    color: black;
    font-size: 70px;
    width: 80%;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: lightgreen;
}

.modal-overlay .modal-dialog figcaption .basicinfo {
    width: 90%;
    margin: auto;
    font-family: "Space Mono";
    font-size: 18px;
    font-style: italic;
    margin-bottom: 30px;
}

.modal-overlay .modal-dialog figcaption .basicinfo a {
    outline: none;
    color: blue;
    text-decoration: none;
    border-bottom: 1.3px solid blue;
    transition: all 0.1s ease-in-out;
 
}

.modal-overlay .modal-dialog figcaption .basicinfo a:hover {
   border-bottom: 2px solid blue;
   font-weight: bold;
}





 button {
    position: fixed;
    top: 32px;
    left: 20px;
    width: 58px;
    font-size: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    transform: none;
    padding: 5px 20px;
    background: none;
    z-index: 10;
}

 button img {
    width: 100%;
}

@media (max-width: 1440px) {
    .modal-overlay .modal-dialog {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 700px;
        width: 100%;
        transform: none;
        position: static;
    }

    .modal-overlay .modal-dialog figure {
        width: 100vw;
        height: 56.25vw;
        margin: 62px 0 0 0;
        display: block;
    }

    .modal-overlay .modal-dialog figcaption {
        margin: 0;
        width: 100%;
        margin: 0;
        display: block;
    }

    .modal-overlay .modal-dialog figcaption p,
    .modal-overlay .modal-dialog figcaption p.basicinfo {
        width: calc(100% - 40px);
        padding: 20px;
    }

    .modal-overlay .modal-dialog figcaption p:first-child {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .modal-overlay .modal-dialog {
        height: 100%;
        width: 100%;
    }

    .modal-overlay .modal-dialog button {
        position: fixed;
        left: 0;
        top: 10px;
        transform: none;
    }

    .modal-overlay .modal-dialog figcaption {
        flex-direction: column;
    }
}

@media (max-width: 425px) {

    main {
        padding-top: 0;
        padding-bottom: 0;
    }

    article {
        padding-top: 0;
        padding-bottom: 0;
    }

    button {
    position: fixed;
    top: 5px;
    left: 0px;
    }

    .modal-overlay .modal-dialog figcaption {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .modal-overlay .modal-dialog figcaption p.basicinfo {
        font-size: 14px;
        margin-bottom: 0;
    }
    .modal-overlay .modal-dialog figcaption p {
        font-size: 18px;

    }
}