
/*
COLORS :

orange ---- #FF6333
blue ---- #1A1945
white ---- #ffffff
*/

body {
  height: 100vh;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* gradient */
  background-color: #1A1945; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#1A1945, #FF6333 1000%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#1A1945, #FF6333 1000%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#1A1945, #FF6333 1000%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1A1945, #FF6333 1000%); /* Standard syntax */
}

h1 {
  color: #FF6333;
  font-family: 'oswald', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 70px;
  margin: 0;
  padding: 0;
  text-shadow: #1A1945 0px 0px 5px;
}

h1:after {
      animation: snake 5s infinite;
      content: '';
      display: block;
      position: absolute;
      border-bottom: 2px solid #FF6333;
    }

@keyframes snake {
  0% {
    left: 0;
    right: 100%;
  }
  22% {
    left: 0;
    right: 0;
  }
  44% {
    left: 100%;
    right: 0;
  }
}