h2{
	font-family: 'Press Start 2p';
	font-size: 45px;
	text-align: center;
	margin-top: 90px;
	margin-bottom: 60px;
}

body{
	width: 85vw;
	margin: auto;
	margin-bottom: 40px;
}

p{
	font-family: 'Aldrich';
	font-size: 14px;

}

h1{
	font-family: 'Press Start 2p';
	font-size: 13px;

}

img{
	width: 100%;
	max-width: 400px;
	text-align: center;
}

#icone{
	width: 100px;
	position: absolute;
	display: block;
	top: 1vh;
	right: 1vw;
}
