/*
COLORS :

orange ---- #FF6333
blue ---- #1A1945
white ---- #ffffff
*/



/* GENERAL */


* { 
  margin: 0;
  padding: 0;
}

body {
  /* gradient */
  background-color: #1A1945; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#1A1945, #FF6333 500%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#1A1945, #FF6333 500%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#1A1945, #FF6333 500%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1A1945, #FF6333 500%); /* Standard syntax */
}

.p_hilight {
  color: #FF6333;
  font-weight: 700;
}

/*a {
  text-decoration: none;
}*/



/*header*/

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

/*#menu {
  position: fixed;
  width: 35px;
  height: 35px;
  margin: 20px;
}*/



#EN_FR {
  position: absolute;
  top: 30px;
  right: 40px;
}

#EN_FR li {
  display: inline-block;
  margin-left: 10px;
  font-family: "Oswald";
  color: #ffffff;
}

/* corps de page */

#about {
  width: 100vw;
  height: 100vh;
  display: table;
/*  justify-content: center;
*/}

#about h1 {
  text-align: center;
  margin-top: 20vh;
  color: #FF6333;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 120px;
  line-height: 1em;
  text-shadow: #1A1945 0px 0px 5px;
}

#about h1 span {
  color: #ffffff;
  font-size: 80px;
  letter-spacing: normal;
}

#presentation {
  margin-top: 15vh;
  width: 78vw;
  margin-right: 11vw;
  margin-left: 11vw;
}

.row {
  margin-top: 10vh;
}

article {
  display: inline-block;
  width: 31vw;
  margin: 3vw;
}

article h2 {
  position: absolute;
  width: 7vw;
  margin-top: -0.7em;
  font-family: "Oswald", sans-serif;
  color: #ff6333;
}

article p {
  width: 21vw;
  margin-left: 10vw;
  font-family: "quattrocento", serif;
  color: #ffffff;
}

#contact {
  margin-top: 15vh;
  width: 78vw;
  height: 50vh;
  margin-right: 11vw;
  margin-left: 11vw;
}

#contact h1 {
  font-size: 60px;
  line-height: 1.3em;

}

#contact h1:after {
  content: "";
  display: block;
  height: 4px;
  left: 42%;
  right: 42%;
  position: absolute;
  background: #ff6333;
}


/*FOOTER*/

footer {
  position: fixed;
  width: 100%;
  z-index: 10;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: #1A1945;
  text-align: center;
  margin-top: -5vh;
}

footer img {
  width: 15px;
  height: 15px;
}