html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;}

/* ---------------------- TYPOS ---------------------- */



@font-face{ 
	font-family: 'robotobold';
	src: url('../font/robotobold.eot');
	src: url('../font/robotobold.eot?iefix') format('eot'),
	     url('../font/robotobold.woff') format('woff'),
	     url('../font/robotobold.ttf') format('truetype'),
	     url('../font/robotobold.svg#robotobold') format('svg');
}


@font-face{ 
	font-family: 'robotothin';
	src: url('../font/roboto-thin-webfont.eot');
	src: url('../font/roboto-thin-webfont.eot?iefix') format('eot'),
	     url('../font/roboto-thin-webfont.woff') format('woff'),
	     url('../font/roboto-thin-webfont.ttf') format('truetype'),
	     url('../font/roboto-thin-webfont.svg#roboto-thin-webfont') format('svg');

}

/* --------------------------- ELMT PRINCIPAUX ------------------------------*/

.scrolldown{
		width: 40px;
		height: 30px;
		margin: auto;
		position: fixed;
		bottom: 15px;
		opacity: 0.8;
}

/* ---------------------- home --------------------- */


body {
		background-color: #171718;
} 

#fond{
		width: 100%;
		height: 100%;	
		background-image:url("../img/fondhome.jpg") url("../img/fondhome-fast.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
}

.home{
		padding-top: 25%;
		height: 100px;
		width: 100%;

}

#h1_home{	
		color: white;
		font-size: 70px;
		letter-spacing: 30px;
		text-align: center;
		font-family:'robotobold';
		opacity: 0.4;

}

#h2_home{		
		color: white;
		font-size: 15px;
		letter-spacing: 10px;
		text-align: center;
		font-family: 'robotothin';
		opacity: 0.5;
		margin-top: 10px;
}


/* -------------------- home/FOOTER ---------------- */

footer{ 
		height: 35px;
		width: 100%;
		float: bottom;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column; 
		flex-direction: column;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;

 }



/* --------------------------------------- WORK -------------------------*/



/* -------------------- work/HEADER ---------------- */

header{ 
		height: 45px;
		width: 100%;
		
		float: top;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column; 
		flex-direction: column;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;

		 }

#h1_work{ 
		color: white;
		opacity: 0.8;
		font-family: 'robotobold';
		font-size: 15px;
		letter-spacing: 5px;
		padding-top: 7px;
		 }

hr{		
		color: white;
		opacity: 0.6;
		width: 100%;
	}

/* -------------------- work/CONTENT ---------------- */


#h2_work{ 
	color: white;
	opacity: 0.8;
	font-family:'robotobold';
	font-size: 25px;
	letter-spacing: 9px;
	margin-left: 150px;
	margin-top: 20px;
}

.conteneur {
	width: calc(100% - 300px);
	margin-right: 150px;
	margin-left: 150px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.conteneur .ligne {
	display: flex;
	width: 100%;
}

.conteneur .ligne .img {
	margin: 3px;
	flex: 1;
}

.conteneur .ligne .img img {
	width: 100%;
	max-height: 100%;
	border: solid white 2px;
}
/* -------------------- work/FOOTER ---------------- */

footer{ 
		height: 35px;
		width: 100%;
		float: bottom;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column; 
		flex-direction: column;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;

 }








