/*
COLORS :

orange ---- #FF6333
blue ---- #1A1945
white ---- #ffffff
*/


/* -------------------------

GENERAL 

---------------------------- */

a {
  text-decoration: none;
}


* {
  margin: 0;
  padding: 0;
}

::selection {
  color: #ff6333;
  background-color: #1A1945;
}

body {
  /* gradient */
  background-color: #1A1945;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#1A1945, #FF6333 900%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#1A1945, #FF6333 900%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#1A1945, #FF6333 900%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1A1945, #FF6333 900%);
  /* Standard syntax */
}

#body_about {
  /* gradient */
  background-color: #1A1945;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#1A1945, #FF6333 300%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#1A1945, #FF6333 300%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#1A1945, #FF6333 300%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1A1945, #FF6333 300%);
  /* Standard syntax */
}

.p_hilight {
  color: #FF6333;
  font-weight: 700;
}





/*a {
  text-decoration: none;
}*/


/* ----------------------------

HEADER 

------------------------------*/

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

#EN_FR {
  position: absolute;
  top: 30px;
  right: 40px;
}

#EN_FR li {
  display: inline-block;
  margin-left: 10px;
  font-family: "Oswald";
  color: #ffffff;
  /* fin header */
}






#home, .projects {
/* ----------------------------

HOME + PROJECTS

------------------------------*/
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


#home img {
/* ----------------------------

LOGO PARALLAX HOME PAGE 

------------------------------*/
  position: absolute;
  width: 60vw;
  height: 60vh;
  opacity: 0.8;
  z-index: -2;
  margin-left: 20vw;
  margin-top: 15vh;
}


#parallax {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  list-style: none;
  z-index: -10;
}

#layer {
  position: absolute;
  display: block;
}



#home_box {
/* ----------------------------

CARACTERISTICS HOME PAGE 

------------------------------*/
  width: 80vw;
  height: 30vh;
  margin-top: -10vh;
}

#home_box h1 {
  margin-right: 42vw;
  text-align: right;
  color: #FF6333;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 1.3em;
  text-shadow: #1A1945 2px 5px 10px;
}

#home_box h1 span {
  color: #ffffff;
  font-size: 75px;
}



#home_box p {
  width: 25vw;
  color: #ffffff;
  font-family: "Quattrocento", serif;
  font-size: 18px;
  line-height: 1.4em;
  margin-left: 42vw;
  margin-top: -1.6em;
}


.view_about {

/* ----------------------------

BUTTON VIEW ABOUT 

------------------------------*/
  text-decoration: none;
  font-family: : "Oswald", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #ff6333;
  text-shadow: #1A1945 2px 5px 10px;
  text-align: left;
  position: absolute;
  width: 100px;
  height: 20px;
  right: 4vw;
}


.view_about:after {
  bottom: -10px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  right: 100%;
  position: absolute;
  background: #ff6333;
  transition: right 0.3s ease 0s, left 0.3s ease 0s;
}

.view_about:hover:after {
  left: 0;
  right: -100%;
}



.scroll_down {
/* ----------------------------

 SCROLL DOWN  

------------------------------*/
  text-decoration: none;
  font-family: : "Oswald", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #ff6333;
  text-shadow: #1A1945 2px 5px 10px;
  text-align: right;
  position: absolute;
  width: 140px;
  height: 20px;
  bottom: 140px;
  right: 46vw;
  transform: rotate(-90deg);
}


.scroll_down:after {
  bottom: -10px;
  content: "";
  display: block;
  height: 2px;
  right: 0;
  left: 100%;
  position: absolute;
  background: #ff6333;
  transition: right 0.3s ease 0s, left 0.3s ease 0s;
}

.scroll_down:hover:after {
  left: -100%;
  right: 0;
}




#about {

/* ----------------------------

 PAGE ABOUT 

------------------------------*/
  width: 100vw;
  height: 100vh;
  display: table;
  /*  justify-content: center;
*/
}

#about #hey, #pigeon h1 {
  text-align: center;
  margin-top: 26vh;
  color: #FF6333;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 120px;
  line-height: 1em;
  text-shadow: #1A1945 2px 5px 10px;
}



#about #hey span {
  color: #ffffff;
  font-size: 80px;
  letter-spacing: normal;
}



.view_home {
/* ----------------------------

PAGE ABOUT - BUTTON VIEW HOME

------------------------------*/
  text-decoration: none;
  font-family: : "Oswald", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #ff6333;
  text-shadow: #1A1945 2px 5px 10px;
  text-align: right;
  position: absolute;
  width: 100px;
  height: 20px;
  top: 50vh;
  left: 1vw;
}


.view_home:after {
  bottom: -10px;
  content: "";
  display: block;
  height: 2px;
  right: 0;
  left: 100%;
  position: absolute;
  background: #ff6333;
  transition: right 0.3s ease 0s, left 0.3s ease 0s;
}

.view_home:hover:after {
  right: 0;
  left: -100%;
}


#presentation {

/* ----------------------------

 PAGE ABOUT - PRESENTATION

------------------------------*/
  margin-top: 15vh;
  width: 74vw;
  margin-right: 14vw;
  margin-left: 14vw;
}

.row {
  margin-top: 5vh;
  display: flex;
}

article {
  display: inline-block;
  width: 31vw;
  margin: 2vw;
}

article h2 {
  position: absolute;
  width: 5vw;
  margin-top: -0.35em;
  font-family: "Oswald", sans-serif;
  color: #ff6333;
  font-size: 18px;
}

article p {
  width: 21vw;
  margin-left: 7vw;
  font-family: "quattrocento", serif;
  color: #ffffff;
}

#pigeon {
  margin-top: 15vh;
  width: 78vw;
  height: 50vh;
  margin-right: 11vw;
  margin-left: 11vw;
}




#pigeon h1 {
/* ----------------------------

 PAGE ABOUT - CONTACT

------------------------------*/
  font-size: 60px;
  line-height: 1.3em;
}

#pigeon h1:after {
  content: "";
  display: block;
  height: 4px;
  left: 42%;
  right: 42%;
  position: absolute;
  background: #ff6333;
}

#send_me_pigeon {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 50px;
}

#send_me_pigeon li a {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  font-weight: 200;
  margin-top: 40px;
  color: #ffffff;
  margin: 40px;
  cursor: pointer;
  opacity: 0.9;
}

#send_me_pigeon li a:hover {
  opacity: 1;
}





.projects {
/* ----------------------------

 PAGE PROJECTS 

------------------------------*/
/*aspects généraux*/
  width: 100vw;
  position: relative;
  /*webkit-overflow-scrolling: touch;
*/
}

#project_1 {
  width: 80vw;
  height: 30vh;
  margin-top: -28vh;
}

#project_2 {
  width: 80vw;
  height: 30vh;
  margin-top: -20vh;
}

#project_3 {
  width: 80vw;
  height: 30vh;
  margin-top: -28vh;
}


#project_4 {
  width: 80vw;
  height: 30vh;
  margin-top: -25vh;
}


.projects h1 {
  color: #FF6333;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 6vw;
  line-height: 1.2em;
  margin-left: 5vw;
  text-shadow: #1A1945 2px 5px 10px;
}

.description {
  width: 25vw;
  margin-left: 42vw;
  margin-top: -1.5em;
  color: #ffffff;
  font-family: "Quattrocento", serif;
  font-size: 18px;
  line-height: 1.4em;
}



.projects ul {
  /* lists */
  position: absolute;
  margin-left: 5.15vw;
  margin-top: 25px;
  display: flex;
}

.projects li {
  display: inline-block;
  width: 6vw;
  min-width: 40px;
  margin-right: 4vw;
}

.projects li h2 {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 25px;
}

.projects li p {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
}



.view_project {
  /* BUTTONS */
  text-decoration: none;
  font-family: : "Oswald", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ff6333;
  text-shadow: #1A1945 2px 5px 10px;

  position: absolute;
  width: 150px;
  height: 20px;
  right: 32vw;
  margin-top: 70px;
  opacity: 0;
}



.projects:hover .view_project {
  animation: appear 1s forwards;
}


@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.view_project:after {
  bottom: -10px;
  content: "";
  display: block;
  height: 3px;
  left: 30%;
  right: 30%;
  position: absolute;
  background: #ff6333;
  transition: right 0.3s ease 0s, left 0.3s ease 0s;
}

.view_project:hover:after {
  left: 0;
  right: 0;
}

#parallax_paris {
  width: 100%;
  height: 100%;
  z-index: -10;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#parallax_paris img {
  width: 45%;
  height: 45%;
  opacity: 0.9;
  margin-top: -250px;
  margin-left: -100px;
}


#project_2 h1 {
  /* PROJECT 2 - 0001 */
  font-size: 16vw;
  margin-left: 4.15vw;
}

#project_2 .description {
  margin-top: -3em;
}


#project_3 h1 {
  font-size: 9vw;
  margin-left: 4.15vw;
}

#project_3 .description {
  margin-top: -2em;
}

#project_4 h1 {
  font-size: 8.2vw;
  margin-left: 4.15vw;
}

#project_2 img {
  width: 600px;
  position: absolute;
  z-index: -10;
  opacity: 0.9;
  margin-left: 25vw;
  margin-top: -10vh;
  transform: rotate(18deg);
}


#parallax_0001 {
  /*  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  list-style: none;*/
  z-index: -1;
}

#layer2 {
  transform: rotate(15deg);
  position: absolute;
  display: block;
}


#svg_parallax {
  width: 100vw;
  height: 100vh;
  z-index: -20;
  position: absolute;
}
svg {
  width: 100%;
  height: 100%;
}



svg .st0 {
  animation: appear 3.9s forwards;
  stroke: white;
}

svg .st1 {
  animation: appear 2.2s 4.5s forwards;
  stroke: white;
}

svg .st2 {
  animation: appear 2s 4s forwards;
  stroke: white;
}

svg .st3 {
  animation: appear 2s 5s forwards;
  stroke: white;
}

svg .st4 {
  animation: appear 3s 5.6s forwards;
  stroke: white;
}

svg .st4 {
  animation: appear 3.3s 7s forwards;
  stroke: white;
}

svg .st5 {
  animation: appear 3s 10s forwards;
  stroke: white;
}

svg .st6 {
  animation: appear 2.9s forwards;
  stroke: white;
}

svg .st7 {
  animation: appear 2.2s 7s forwards;
  stroke: white;
}

svg .st8 {
  animation: appear 2s 8s forwards;
  stroke: white;
}

svg .st9 {
  animation: appear 2s 10s forwards;
  stroke: white;
}

svg .st10 {
  animation: appear 2s 2.1s forwards;
  stroke: white;
}

svg .st11 {
  animation: appear 3.3s 4.3s forwards;
  stroke: white;
}

svg .st12 {
  animation: appear 1s 14s forwards;
  stroke: white;
}

svg .st13 {
  animation: appear 0.5s 14.1s forwards;
  stroke: white;
}

svg .st14 {
  animation: appear 1.3s 3.3s forwards;
  stroke: white;
}

svg .st15 {
  animation: appear 1s 7s forwards;
  stroke: white;
}

svg .st16 {
  animation: appear 1.3s 4s forwards;
  stroke: white;
}

svg .st17 {
  animation: appear 1s 9s forwards;
  stroke: white;
}

svg .st18 {
  animation: appear 1.3s 13.3s forwards;
  stroke: white;
}

svg .st19 {
  animation: appear 1s 2s forwards;
  stroke: white;
}

svg .st20 {
  animation: appear 1.3s 12.1s forwards;
  stroke: white;
}

svg .st21 {
  animation: appear 1.4s 13.8s forwards;
  stroke: white;
}

svg .st22 {
  animation: appear 1s 7s forwards;
  stroke: white;
}

svg .st23 {
  animation: appear 1.3s 3.3s forwards;
  stroke: white;
}

svg .st24 {
  animation: appear 1s 5s forwards;
  stroke: white;
}

svg .st25 {
  animation: appear 1.3s 13.3s forwards;
  stroke: white;
}

svg .st26 {
  animation: appear 2s 3.1s forwards;
  stroke: white;
}

svg .st27 {
  animation: appear 3.3s 4.3s forwards;
  stroke: white;
}

svg .st28 {
  animation: appear 1s 7s forwards;
  stroke: white;
}

svg .st29 {
  animation: appear 1.3s 8.3s forwards;
  stroke: white;
}

svg .st30 {
  animation: appear 1s 20s forwards;
  stroke: white;
}

svg .st31 {
  animation: appear 1.3s 4.3s forwards;
  stroke: white;
}

svg .st32 {
  animation: appear 1s 20s forwards;
  stroke: white;
}

svg .st33 {
  animation: appear 1.3s 13.3s forwards;
  stroke: white;
}

svg .st34 {
  animation: appear 1s 2s forwards;
  stroke: white;
}

svg .st35 {
  animation: appear 1.3s 9.1s forwards;
  stroke: white;
}

svg .st36 {
  animation: appear 1.4s 3.8s forwards;
  stroke: white;
}

svg .st37 {
  animation: appear 1s 22s forwards;
  stroke: white;
}

svg .st38 {
  animation: appear 1.3s 10.3s forwards;
  stroke: white;
}

svg .st39 {
  animation: appear 1s 20s forwards;
  stroke: white;
}

svg .st40 {
  animation: appear 1.3s 4.3s forwards;
  stroke: white;
}

svg .st41 {
  animation: appear 2s 10.1s forwards;
  stroke: white;
}


line {
  opacity: 0
}


@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


footer {

/* ----------------------------

FOOTER

------------------------------*/
  position: absolute;
  width: 100%;
  z-index: 10;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #1A1945;
  text-align: center;
  margin-top: -5vh;
}

footer img {
  width: 15px;
  height: 15px;
}
