#home_box, #project_box {

  width: 82vw;
  margin-top: 50px;
}

#home_box {
  height: 100vh;
}

#project_box {
  height: 100%;
  margin-top: 70px;
  margin-bottom: 150px;
}

#home_box h1, #project_box h1 {
font-family: 'Space Mono', monospace;
  text-align: left;
  color: #000;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2em;
  width: 85%;
}


#home_box p.about {
  font-family: 'Space Mono', monospace;
  width: 90%;
  color: #000;
  font-size: 18px;
  line-height: 1.6em;
  margin-top: 15px;
}

#portrait {
  width: 800px;
  right: 0;
  bottom: 0;
 
}

#mouse-scroll {
  position: absolute;
  margin: auto;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translateX(-50%);
  z-index: 999;
}

.overlay {
  width: 90vw;
  margin: auto;
}

.grid_column {

  background: transparent;
  width: 90vw;


}

.grid_column iframe{
  width: 100%;
}

.contact{
/*  width: 700px;*/
  position: fixed;
  background: transparent;
  margin: auto;
  right: 0;
  top: 40px;
  text-align: right; 
  display: flex;
 

}
.icon-list {
  flex-direction: column;
  font-size: 1.25em;
  text-align: left;
  width: 100px;
}

.icon-list img {
  height: 30px;
  width: 30px;
}

.icon-list a {
  margin: 0 0 2em 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
  font-size: 12px;
  color: #000;
  opacity: .9;
  display: flex;
  flex-flow: column;
}

.icon-list a:hover{
  opacity: 1;
}

