html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;}

body{ background-color: black;}
p{color: white;
text-align: center;}






/* ---------------------- TYPOS ---------------------- */



@font-face{ 
	font-family: 'robotobold';
	src: url('../font/robotobold.eot');
	src: url('../font/robotobold.eot?iefix') format('eot'),
	     url('../font/robotobold.woff') format('woff'),
	     url('../font/robotobold.ttf') format('truetype'),
	     url('../font/robotobold.svg#robotobold') format('svg');
}


@font-face{ 
	font-family: 'robotothin';
	src: url('../font/robotothin.eot');
	src: url('../font/robotothin.eot?iefix') format('eot'),
	     url('../font/robotothin.woff') format('woff'),
	     url('../font/robotothin.ttf') format('truetype'),
	     url('../font/robotothin.svg#roboto-thin-webfont') format('svg');

}

/* --------------------------- ELMT PRINCIPAUX ---------------------------- */



a{text-decoration: none;}

body {
		background-color: #171718;
		position: relative;
} 

header{ 
		left: 0;
		right: 0;
		z-index: 70;
		height: 40px;
		background-color: #171718;
		padding-top: 10px;
		text-decoration: none;
		position: fixed;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column; 
		flex-direction: column;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
}

#chloe{ 
		color: white;
		opacity: 0.8;
		font-family: 'robotobold';
		font-size: 15px;
		letter-spacing: 5px;
		margin-top: 5px;
}

#chloe:hover{
		opacity: 1;
}


hr{		margin-top: 15px;
		color: white;
		opacity: 0.6;
		width: 100%;
	}

#contact{
	
	opacity: 0.8;
	margin-right:10px;
	text-decoration: none;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row; 
		flex-direction: row;
}

#contact img{
	width: 20px;
	height: 20px;
}



/* ------------------- STRUCTURE ------------------------- */


.conteneur {
	width: calc(100% - 500px);
	margin-right: 100px;
	margin-left: 250px;
	margin-top: 0px;
	margin-bottom: 20px;
}

	.conteneur p{
			color:white;
			font-family: 'robotothin';
			font-size: 25px;
			margin-top: 25px;
	}




.barre{
		width: 100%;
		height: 60px;
		background-color: black;
		margin-top: 40px;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column; 
		flex-direction: column;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
}

.barre .projet {
		color: white;
		font-family: 'robotobold';
		opacity: 0.9;
		font-size: 20px;
		letter-spacing: 3px;

}

.conteneurprojets{
		width: calc(100% - 500px);
		margin-right: 250px;
		margin-left: 300px;
		margin-bottom: 30px;
		display: flex;
		

}

.conteneurprojets .row{
	flex-direction: column;
}





.content{
	padding: 25px;
}


.surtitre{
		color: #476369;
		font-family: 'robotothin';
		font-size: 14px;
		letter-spacing: 1px;
		padding-top: 10px;

		}

.titre{
		color: white;
		font-family: 'robotobold';
		font-size: 27px;
		padding-top: 15px;

}

.content p{
		color: white;
		font-family: 'robotothin';
		font-size: 18px;
		text-align: justify;
		padding-top: 17px;
}


/* MAKE */

#infomake{
		width: 550px;
		height: 320px;
		background-color: black;
		display: inline-block;
}

#bloc1 {	
	width: 547px;
	margin: 3px;
}

	#bloc1:hover{
		opacity: 0.3;

	}

#bloc4 {width: 300px;
		margin: 3px;
		float: right;}

	#bloc4:hover{
	opacity: 0.3;

}

#bloc2 {width: 550px;
		margin: 3px;}

	#bloc2:hover{
	opacity: 0.3;
	}

#bloc3 {width: 550px;
		margin: 3px;}

	#bloc3:hover{
	opacity: 0.3;
	}


#bloc1 img{ 
	max-width: 100%;
 }
#bloc2 img{ 
	max-width: 100%;
	
 }

 #bloc3 img{ 
	max-width: 100%;
	
 }

 #bloc4 img{ 
	max-width: 100%;
 }


/* TROMBI */



#infotrombi{
		width: 550px;
		height: 300px;
		background-color: black;
}



#trombi1 {	
	width: 547px;
	margin: 3px;
}

	#trombi1:hover{
		opacity: 0.3;

	}

#trombi2 {width: 547px;
		margin: 3px;
		}

	#trombi2:hover{
	opacity: 0.3;

}

#trombi5 {width: 547px;
		margin: 3px;
		}

	#trombi5:hover{
	opacity: 0.3;

}

#trombi3 {width: 550px;
		margin: 3px;
		margin-top: 100px;}

	#trombi3:hover{
	opacity: 0.3;
	}

#trombi4 {width: 550px;
		margin: 3px;}

	#trombi4:hover{
	opacity: 0.3;
	}

#trombi6 {width: 550px;
		margin: 3px;
		}

	#trombi6:hover{
	opacity: 0.3;
	}


#trombi1 img{ 
	max-width: 100%;
 }
#trombi2 img{ 
	max-width: 100%;
	
 }

 #trombi3 img{ 
	max-width: 100%;
	
 }

 #trombi4 img{ 
	max-width: 100%;
 }

  #trombi5 img{ 
	max-width: 100%;
 }

  #trombi6 img{ 
	max-width: 100%;
 }



/* FRED TURNER */

#infofredturner{
		width: 550px;
		height: 300px;
		background-color: black;
}

#visitwebsite{
		width: 550px;
		height: 300px;
		background-color: #111;
		display: inline-block;
		border: #476369 dashed 1px;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column; 
		flex-direction: column;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
}

h3{
		color: #476369;
		font-family: "robotobold";
		letter-spacing: 4px;
		font-size: 30px;


}

h3:hover{
		color: white;
}

/* VOYAGE DANS LES TRANSPORTS */

#infotransports{
		width: 550px;
		height: 300px;
		background-color: black;
}

#transport1 {	
	width: 547px;
	margin: 3px;
	margin-top: 130px;
}

	#transport1:hover{
		opacity: 0.3;

	}

#transport2 {width: 547px;
		margin: 3px;
		}

	#transport2:hover{
	opacity: 0.3;

}

#transport5 {width: 547px;
		margin: 3px;
		}

	#transport5:hover{
	opacity: 0.3;

}

#transport3 {width: 547px;
		margin: 3px;
	}

	#transport3:hover{
	opacity: 0.3;
	}

#transport4 {width: 547px;
		margin: 3px;}

	#transport4:hover{
	opacity: 0.3;
	}



#transport1 img{ 
	max-width: 100%;
 }
#transport2 img{ 
	max-width: 100%;
	
 }

 #transport3 img{ 
	max-width: 100%;
	
 }

 #transport4 img{ 
	max-width: 100%;
 }

  #transport5 img{ 
	max-width: 100%;
 }



/* TEMPS MORT */

#infotempsmort{
		width: 550px;
		height: 430px;
		background-color: black;
}

#tempsmort1 {	
	width: 547px;
	margin: 3px;
	margin-top: 360px;
}

	#tempsmort1:hover{
		opacity: 0.3;

	}

#tempsmort2 {width: 547px;
		margin: 3px;
		}

	#tempsmort2:hover{
	opacity: 0.3;

}

#tempsmort5 {width: 547px;
		margin: 3px;
		}

	#tempsmort5:hover{
	opacity: 0.3;

}

#tempsmort3 {width: 547px;
		margin: 3px;
	}

	#tempsmort3:hover{
	opacity: 0.3;
	}

#tempsmort4 {width: 547px;
		margin: 3px;}

	#tempsmort4:hover{
	opacity: 0.3;
	}

#tempsmort6 {width: 547px;
		margin: 3px;}

	#tempsmort6:hover{
	opacity: 0.3;
	}



#tempsmort1 img{ 
	max-width: 100%;
 }
#tempsmort2 img{ 
	max-width: 100%;
	
 }

 #tempsmort3 img{ 
	max-width: 100%;
	
 }

 #tempsmort4 img{ 
	max-width: 100%;
 }

  #tempsmort5 img{ 
	max-width: 100%;
 }

#tempsmort6 img{
	max-width: 100%;
}



/* LE CANCRE */

#infocancre{
		width: 450px;
		height: 360px;
		background-color: black;
		display: inline-block;
		
}

#teasercancre{
		width: 640px;
		height: 360px;
}


/* TROMBI */



#infotimbres{
		width: 550px;
		height: 300px;
		background-color: black;
}



#timbre1 {	
	width: 547px;
	margin: 3px;
}

	#timbre1:hover{
		opacity: 0.3;

	}

#timbre2 {width: 547px;
		margin: 3px;
		}

	#timbre2:hover{
	opacity: 0.3;

}

#timbre5 {width: 547px;
		margin: 3px;
		}

	#timbre5:hover{
	opacity: 0.3;

}

#timbre3 {width: 550px;
		margin: 3px;
		}

	#timbre3:hover{
	opacity: 0.3;
	}

#timbre4 {width: 550px;
		margin: 3px;
		margin-top: 304px;}

	#timbre4:hover{
	opacity: 0.3;
	}

#timbre6 {width: 550px;
		margin: 3px;
		}

	#timbre6:hover{
	opacity: 0.3;
	}


#timbre1 img{ 
	max-width: 100%;
 }
#timbre2 img{ 
	max-width: 100%;
	
 }

 #timbre3 img{ 
	max-width: 100%;
	
 }

 #timbre4 img{ 
	max-width: 100%;
 }

  #timbre5 img{ 
	max-width: 100%;
 }

  #timbre6 img{ 
	max-width: 100%;
 }

/* SENTIMENT */

#infosentiment{
		width: 550px;
		height: 300px;
		background-color: black;
}





#contact{
	margin-top: 20px;
	opacity: 0.8;
	margin-right:10px;
	margin-bottom: 20px;
	display: inline-block;
	text-align: center;

}

#contact img{
	width: 30px;
	height: 30px;
	margin-top: -7px;
	opacity: 0.6;
}

#contact img:hover{ opacity: 1; }

footer{ 
		height: 80px;
		width: 100%;
		float: bottom;

		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column; 
		flex-direction: column;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;

 }

footer #pfooter{
		color: white;
		font-family: 'robotothin';
		font-size: 11px;
		margin-top: 7px;}

footer #h1footer{
		color: white;
		font-family: 'robotobold';
		font-size: 14px;
		letter-spacing: 3px;
		margin-top: 5px;
		opacity: 0.9;}

