html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;}

/* ------------------------------------------------- INDEX -------------------------------------------------------*/
/* ---------------------------------- index/body ----------------------------------------- */


body{
	background-color: black;
}


/* -------------------------------- index/conteneur -------------------------------------- */

html,body{
	height: 100%;
	margin: 0;
	padding: 0;
}

.conteneur{ 
		background-color: white;
		margin-right: 200px;
		margin-left: 200px;
		height: 100%;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column; 
		flex-direction: column;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
}




/* -------------------------------- index/article1 ----------------------------------------- */



#article1{
		width: 420px;
		min-width: 350px;
		margin: auto;
}

h1{		font-family: courier;
		font-size: 40px;
		text-align: center;
		margin-top: 10%;

}


h2{
		font-family: courier;
		font-size:20px;
		font-weight: bold;
		text-align: center;
		letter-spacing: 1px;

}

h3{ 
		font-family: courier;
		font-size: 10px; 
		text-align: center;

}


p{
		font-family: courier;
		font-size: 14px;
		text-align: justify;
		margin-top: 20px;
		margin-bottom: 20px;
}

#lsd{
		background-image:url(../img/lsd_tab.jpg);
		background-size: 45px;
		width: 45px;
		height: 43px;
		margin: auto;
		
}

#lsd:hover{

		background-image:url(../img/lsd_tab2.jpg);
		background-size: 45px;
}







/* ------------------------------------------------ PAGE 1 -------------------------------------------------------- */

#page1html{  /* body */
		background-image:url(../img/gifpsyche.gif);
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
		height: 100%;
}

#page1{
		display: inline-block;
		width: 850px;
		height: 100%;
		
}

#bloc1{
		float: left;
		display: inline-block;
		height: 100%;
}

#bloc2{
		float: right;
		height: 100%;
}


/* ------------------------------------------------ PAGE 2 -------------------------------------------------------- */

#page2{ /* body */
	
		background-image:url(../img/fond.gif);
		background-repeat: no-repeat;
		background-size: 100%;  

		
}


a{
		text-decoration: none;
		color: white;
}

#conteneurpage2{width: 100%;
				height: 100%;

				/* centrer verticalement et horizontalement */
				display: -webkit-flex;
				display: flex;
				-webkit-flex-direction: row; 
				flex-direction: row;
				-webkit-align-items: center;
				align-items: center;
				-webkit-justify-content: center;
				justify-content: center;}

/*------------------- explorer ---------------------*/

#explorer{
		width: 230px;
		height: 75px;
		display: inline-block;
		margin-left: 30%;
		margin-right: 300px;
		border: dashed white 3px;
		background-color: rgba(0,0,0,0.4);

		-webkit-transition: background-color 1s linear;
		-moz-transition: background-color 1s linear;
		-o-transition: background-color 1s linear;
		-ms-transition: background-color 1s linear;
		transition: background-color 1s linear;



}

#explorer:hover{
		background-color: rgba(0,0,0,1);
		border: solid white 3px;
}

#pexplorer {opacity: 0;
				width: 230px;
				height: 135px;
				margin-top: 100px;
				padding-right: 10px;
				padding-left: 10px;
				padding-bottom:30px;
				margin:auto;
				background-color: white;
				position: fixed;
				}


#explorer:hover + #pexplorer {opacity: 1;}



#explorer h2{
		font-size: 30px;
		line-height:75px;
	}

/*------------------- censurer ---------------------*/

#censurer{
		width: 230px;
		height: 75px;
		display: inline-block;

		margin-right:30%;
		border: dashed white 3px;
		background-color: rgba(0,0,0,0.4);

		-webkit-transition: background-color 1.5s linear;
		-moz-transition: background-color 1.5s linear;
		-o-transition: background-color 1.5s linear;
		-ms-transition: background-color 1.5s linear;
		transition: background-color 1.5s linear;

	
}

#censurer:hover{
		background-color: rgba(0,0,0,1);
		border: solid white 3px;
		
}

#pcensurer {opacity: 0;
				width: 230px;
				height: 120px;
				margin-top: 100px;
				padding-right: 10px;
				padding-left: 10px;
				padding-bottom:30px;
				margin:auto;
				background-color: white;
				position: fixed;
				}
#pcensurer p{text-overflow: ellipsis;}

#censurer:hover + #pcensurer {opacity: 1;}


#censurer h2{
		font-size: 30px;
		line-height: 75px;
	}





/* -------------------------------------------------- PAGE 3 -------------------------------------------------------- */




.page3{ /*body*/
		background-image:url(../img/451.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
}


.conteneurpage3{
		width:50%;
		height:20%;
		margin-top: 500px;
		
		margin: auto;
		
}

.conteneurpage3 p{
		font-family: courier;
		color: #358644;
		font-size: 14px;
		margin-top: 55%;
		min-width: 600px;
		line-height: 19px;
		
}



#clickhere p{ /* lien page 5 */
		font-family: courier;
		color: #358644;
		font-size: 10px;
		float: right;
		margin-right: 100px;
		margin-bottom: 20px;
		margin-top: 100px;
}


		#clickhere p:hover{
				font-size: 12px;
		}
		



/* -------------------------------------------------- PAGE 4 -------------------------------------------------------- */

#page4{ /* body */
	
		background-image:url(../img/fond.gif);
		background-repeat: no-repeat;
		scroll-behavior: none;
		background-size: 100%;
}

#surf{ 
		
		width: 500px;
		margin: auto;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row; 
		flex-direction: row;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
		
		
}


 /* menu déroulant */
#menu{  
		list-style-type: none;
    	text-align: left;
    	font-size: 19px;
    	margin-top: 300px;
		font-family: courier;
	

}


#menu li{
		float: left;
    	text-align:center;
    	width: 350px;
    	size: 20px;    
}


#menu li a:link, #menu li a:visited{
		display: block;
    	color: white;
    	background: black;  
    	padding: 6px 10px;
    	text-decoration: none;
}


#menu li a:hover {
		background-color: white;
		color:black;}

#menu li a:active {background-color: black;}
#menu .sousMenu{
    	display: none;
    	list-style-type: none;
}

#menu .sousMenu li{
    	float: none;
    	width: 350px;
}

#menu li:hover  .sousMenu{
		display: block;
}

/* -------------------------------------------------- PAGE 5 -------------------------------------------------------- */


#conteneurpage5{
		width: 450px;
		height: 100%;
		margin: auto;
		margin-top: 300px;
}

#hackingipadress #hacking{  /* barre de saisie */
		width: 100%;
		height:25px;
		margin-top: 20px;
		font-size: 15px;
		text-align: right;
		letter-spacing: 3px;
}

#conteneurpage5 h1{
		font-size: 25px;
		color: white;
		font-family: courier;
		text-align: left;
		
}

#conteneurpage5 p{
		font-size: 13px;
		font-family: courier;
		color: white;
		text-align: justify;
		line-height: 17px;
}



button{ /* lien page 4 */
		width: 50px;
		height: 35px;
		display: block;
		margin: auto;	
		margin-top: 40px;	
}




/* ----------------------------------------------- PAGE 6 ------------------------------------------------------------- */

#info{ /* bouton "?" sur toutes les pages */
	position: absolute;
	top: 5%;
	left: 95%;
	margin-right: 10px;
	margin-top: 10px;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background-color: white;
			display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row; 
		flex-direction: row;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
}

#info:hover{
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

#info p{
	font-size: 20px;
	font-weight: bold;
	color: black;
	font-family: courier;
}

#conteneurpage6{
	margin-right: 200px;
	margin-left: 200px;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row; 
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}




#infopage6{ /* bloc texte explicatif */
		width: 500px;
		min-width: 350px;
		margin: auto;
		margin-top: 30px;
}


#infopage6 h1{
		width: 70px;
		height: 70px;
		border-radius: 70px;
		margin: auto;
		font-size: 22px;
		background-color: white;
		/* centrer verticalement et horizontalement */
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row; 
		flex-direction: row;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;

}
#infopage6 h1:hover{
		background-color: cyan;
		color: white;
}

#infopage6 h2{ 
		font-family: courier;
		font-size: 18px; 
		color: white;
		text-align: left;
		margin-top: 40px;
		font-weight: bold;

}


#infopage6 p{
		font-family: courier;
		font-size: 14px;
		color: white;
		text-align: justify;
		margin-top: 20px;
		margin-bottom: 20px;
		line-height: 16px;
		margin-bottom: 50px;
}




span{	
		font-style: italic;

}


/* Bouton Home */

#home{ /* bouton "?" sur toutes les pages */
	position: absolute;
	top: 5%;
	left: 5%;
	margin-left: 0px;
	margin-top: 10px;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background-color: white;
	font-family: courier;
	font-size: 9px;
	color: black;
			display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row; 
		flex-direction: row;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
}

#home:hover{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	font-size: 11px;
}



